html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body
{
    background-color: #141414;
    color: white;
}

.logo
{
  height:13vh; 
}
nav a 
{
    font-weight: bold;
    font-size: 20px;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto_principal
{   
    top: 400px;
    left: 30px;
    position: absolute;
    font-size: 80px;
    font-weight: bold;
    font-style: italic;
    color: white;
    justify-content: start;
}
.img_header
{
    width: 450vh;
    height: 100vh;
}

#trailer{
    padding:20px;
}
.video{
    border: 1px solid rgb(29, 27, 27);
    border-radius: 5%;
}
.card{
    background-color: #303030;
}
footer
{ 
    background-color: #303030;
    margin-top: 30px;
}
.copy{
    background-color: #2c2c2c;
    padding: 1px;
    padding-top: 15px;
    margin: 0px;
}
.red{
    padding: 20px;
    margin-left: 60px;
    text-decoration: none;
}